parameters:
    tmpDir: build/phpstan
    level: 9
    paths:
        - src/
        - tests/
    stubFiles:
        - stubs/ExcimerProfiler.php
        - stubs/ExcimerLog.php
        - stubs/ExcimerLogEntry.php
